.btn {
    position: absolute;
}

.up-btn {
    height: 8%;
    width: 10%;
    transform: translate(750%, 490%);
}

.right-btn {
    height: 5%;
    width: 12%;
    transform: translate(700%, 930%);
}

.bottom-btn {
    height: 8%;
    width: 10%;
    transform: translate(750%, 630%);
}

.left-btn {
    height: 5%;
    width: 12%;
    transform: translate(550%, 930%);
}

.red-btn {
    height: 5%;
    width: 8%;
    transform: translate(245%, 590%);
}

.blue-btn {
    height: 8%;
    width: 12%;
    transform: translate(50%, 485%);
}

.green-btn {
    height: 3%;
    width: 18%;
    transform: translate(125%, 1380%);
}

.orange-btn {
    height: 3%;
    width: 18%;
    transform: translate(245%, 1380%);
}

.speaker-btn {
    height: 7%;
    width: 20%;
    transform: translate(315%, 405%);
}

.input-btn {
    height: 11%;
    width: 38%;
    transform: translate(52%, 455%);
}