.App {
  height: 100vh;
  background-image: url("./assets/images/thimo-pedersen-TWCnHKKhqSo-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pokemon Solid", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.pokedex {
  position: relative;
  height: 90%;
  width: 90%;
  max-width: 600px;
  background-image: url("./assets/images/pokedex.png");
  background-size: 100% 100%;
  border: 5px solid black;
  border-radius: 4%;
}

.pokedex-screen {
  transform: translate(10%, 80%);
  height: 35%;
  width: 83%;
  background-color: rgba(37, 169, 245, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;

  img {
    height: 90%;
    width: 90%;
  }

  div {
    font-weight: bolder;
    text-transform: capitalize;
  }
}

.music-screen {
  transform: translate(10%, 80%);
  height: 35%;
  width: 83%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-radius: 10px;
  padding: 0.5rem;
}

.selected {
  color: red;
  font-weight: bolder;
  text-shadow: 2px 2px 10px yellow;
}

.dark-mode {
  background-color: black;
  color: #ffffff;
}

::placeholder {
  font-family: "Pokemon Solid", sans-serif;
}

@import "./partials/controls";

@media (max-width: 450px) {
  .music-screen {
    transform: translate(14%, 83%);
    font-size: 0.8rem;
  }
}
